version: '3.4'

networks:
  langaracpsc-dev:
    driver: bridge 

services:
  postgres_image:
    image: postgres:latest
      #    ports:
      #      - "5432:5432"
    restart: always
    volumes:
      - ./data/db:/var/lib/postgres/data
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"
    networks:
      - langaracpsc-dev
  
  langaracpsc.webapi:
    image: langaracpsc.webapi:latest
    depends_on:
      - "postgres_image"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8080"     
    networks:
      - langaracpsc-dev  
    environment:
      - HOSTNAME=${PG_HOSTNAME}
      - DATABASE=${PG_DATABASE}
      - USERNAME=${PG_USERNAME}
      - PASSWORD=${PG_PASSWORD}
      - PORT=${PG_PORT}
      - CALENDAR_KEYFILE=keyfile.json
      - CALENDAR_ID=${CALENDAR_ID}  

